@page "/"

@using BlazorApp.Services.ViewModels
@inject BlazorApp.Services.EmployeeService EmployeeService
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@rendermode InteractiveServer 

<PageTitle>Home</PageTitle>

<h2 class="text-center">
    Employee Management System
</h2>
<MudDataGrid T="EmployeeViewModel" MultiSelection="true" Items="@Elements" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilter"
Hideable="true" RowClick="@RowClicked" RowContextMenuClick="RowRightClicked" SelectedItemsChanged="@SelectedItemsChanged">
    <ToolBarContent>
        <MudButton Class="me-2"
        @onclick="CreateNewUser"
        StartIcon="@Icons.Material.Filled.PersonAddAlt1"
        Variant="Variant.Filled"
        Color="Color.Primary">
            Add New Employee
        </MudButton>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
        AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.EmployeeIdView" Title="Employee Id" />
        <PropertyColumn Property="x => x.Title" Title="Title" />
        <PropertyColumn Property="x => x.FirstName" Title="First Name" />
        <PropertyColumn Property="x => x.LastName" Title="Last Name" />
        <PropertyColumn Property="x => x.BirthDate" Title="Birth Date" Format="dd/MM/yyyy" />
        <PropertyColumn Property="x => x.Position" Title="Position" />
        <PropertyColumn Property="x => x.HireDate" Title="Hire Date" Format="dd/MM/yyyy" />
        <PropertyColumn Property="x => x.State" Title="State" />
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudButton Class="me-2"
                Size="@Size.Small"
                Variant="Variant.Filled"
                StartIcon="@Icons.Material.Filled.Edit"
                Color="@Color.Warning"
                OnClick="@(() => this.UpdateEmployee(context))">
                    Update
                </MudButton>

                <MudButton
                Size="@Size.Small"
                Variant="Variant.Filled"
                StartIcon="@Icons.Material.Filled.Delete"
                Color="@Color.Error"
                OnClick="@(() => this.DeleteEmployee(context))">
                    Delete
                </MudButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="EmployeeViewModel" />
    </PagerContent>
</MudDataGrid>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Value="@_sortNameByLength" Color="Color.Primary">Sort Name Column By Length</MudSwitch>
</div>

<MudExpansionPanels Style="flex:1">
    <MudExpansionPanel Text="Show Events">
        @foreach (var message in _events)
        {
            <MudText Typo="@Typo.body2">@message</MudText>
        }
        @if (_events.Count > 0)
        {
            <div class="d-flex">
                <MudSpacer />
                <MudButton Class="mt-3" ButtonType="ButtonType.Button" Variant="Variant.Filled" OnClick="@(() => _events.Clear())">Clear</MudButton>
            </div>
        }
    </MudExpansionPanel>
</MudExpansionPanels>

@code {
    private List<EmployeeViewModel> Elements = new();
    private string _searchString = "";
    private bool _sortNameByLength;
    private List<string> _events = new();

    protected override async Task OnInitializedAsync()
    {
        Elements = (await EmployeeService.GetAllEmployees()).ToList();
    }

    private Func<EmployeeViewModel, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.EmployeeIdView.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.FirstName.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Position.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    };

    private async Task CreateNewUser()
    {
        var options = new DialogOptions { MaxWidth = MaxWidth.Large , CloseButton=true};
        var dialog = await DialogService.ShowAsync<CreateEmployee>("Add Employee",options);
        var result = await dialog.Result;

        if (result is not null && !result.Canceled)
            Elements = (await EmployeeService.GetAllEmployees()).ToList();
        StateHasChanged();
    }

    public async Task UpdateEmployee(CellContext<EmployeeViewModel> employee)
    {
        var parameters = new DialogParameters<UpdateEmployee>
    {
        { x => x.EmployeeId, employee.Item.EmployeeId }
    };

        var options = new DialogOptions { MaxWidth = MaxWidth.Large, CloseButton = true };
        var dialog = await DialogService.ShowAsync<UpdateEmployee>("Update Employee", parameters, options);
        var result = await dialog.Result;

        if (result is not null && !result.Canceled)
        {
            Elements = (await EmployeeService.GetAllEmployees()).ToList();
            StateHasChanged();
        }
    }
    public async Task DeleteEmployee(CellContext<EmployeeViewModel> employee)
    {

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small };
        var dialog = await DialogService.ShowAsync<DeleteEmployee>($"{employee.Item.FirstName} {employee.Item.LastName}", options);
        var result = await dialog.Result;

        if (result is not null && !result.Canceled)
        {
            var confirmed = (bool)(result.Data ?? false);
            if (confirmed)
            {
                var deleteResult = EmployeeService.DeleteEmployee(employee.Item.EmployeeId);
                if (deleteResult)
                {
                    Snackbar.Add("Successfully removed the employee!", Severity.Success);
                    Elements = (await EmployeeService.GetAllEmployees()).ToList();
                    StateHasChanged();
                }
                else
                {
                    Snackbar.Add("Failed to remove the employee!", Severity.Error);
                }
            }
        }
    }
    // events
    void RowClicked(DataGridRowClickEventArgs<EmployeeViewModel> args)
    {
        _events.Insert(0, $"Event = RowClick, Index = {args.RowIndex}, Data = {System.Text.Json.JsonSerializer.Serialize(args.Item)}");
    }

    void RowRightClicked(DataGridRowClickEventArgs<EmployeeViewModel> args)
    {
        _events.Insert(0, $"Event = RowRightClick, Index = {args.RowIndex}, Data = {System.Text.Json.JsonSerializer.Serialize(args.Item)}");
    }

    void SelectedItemsChanged(HashSet<EmployeeViewModel> items)
    {
        _events.Insert(0, $"Event = SelectedItemsChanged, Data = {System.Text.Json.JsonSerializer.Serialize(items)}");
    }
}

